:root{
    
}
.course-list{
    display: flex;
    gap: 20px;
}
.course-list > .course{
    --cr: 0;
    --cg: 255;
    --cb: 255;
    --color1: rgba(var(--cr), var(--cg), var(--cb), 1);
    --color2: rgba(var(--cr), var(--cg), var(--cb), 0.1);
    --color3: rgba(var(--cr), var(--cg), var(--cb), 0.5);
    width: 100%;
    padding:20px 30px 40px;
    background-color: var(--color2);
    border-radius: 20px;
}
.course-list > .course.violet {
    --cr: 129;
    --cg: 111;
    --cb: 233;
}
.course-list>.course.orange {
    --cr: 249;
    --cg: 115;
    --cb: 54;
}
.course-list>.course.teal {
    --cr: 11;
    --cg: 167;
    --cb: 208;
}

.course > .details {
    display: flex;
    justify-content: space-between;

}

.course .date {
    color: #333;
}

.course .date::before {
    content: 'Start: ';
    color: var(--color3);
}

.course .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    padding: 5px;
}

.course > .learn{
    font-weight: bold;
} 

.course > .title {
    font-weight: bold;
    font-size: 22px;
    margin: 0;
    color: var(--color1);
}

.course > .progress-bar{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.progress-bar .progress{
    --h: 8px;
    background-color: var(--color3);
    width: 100%;
    height: var(--h);
    border-radius: calc(var(--h));
}
.progress-bar .bar {
    border-radius: inherit;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    position: relative;

}
.progress-bar .value {
    border-radius: inherit;
    width: 100%;
    height: 100%;
    background-color: var(--color1);
    border-radius: inherit;
    position: relative;
    animation: loading;
    animation-duration: 3s;

}

.progress-bar .value::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 5px solid var(--color1);
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -10px;

}
.progress-bar .values {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

@keyframes loading {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}



/* .anime{
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 30px;
    right: 30px;
    background-color: red;
    border-radius: 50%;
    text-align: center;

    line-height: 100px;
    font-size: 80px;
    animation-name: pomidoras;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    z-index: 1;
}
@keyframes pomidoras {
    0%{
        width: 100px;
        line-height: 100px;
        height: 100px;
        background-color: rgb(153, 255, 10);
        font-size: 80px;
        }
    25%{
        font-size: 200px;
        width: 200px;
        line-height: 200px;
        height: 200px;
        background-color: rgb(33, 150, 150);
    }
    50% {
        font-size: 300px;
        line-height: 300px;
        width: 300px;
        height: 300px;
        background-color: rgb(50, 250, 75);
    }
    75% {
        font-size: 200px;
        width: 200px;
        line-height: 200px;
        height: 200px;
        background-color: rgb(250, 250, 33);
    }
    100% {
        font-size: 80px;
        line-height: 100px;
        width: 100px;
        height: 100px;
        background-color: rgb(153, 255, 10);
    }
} */
